 <div class="jumbotron">
   <p> There is nothing so fatal to character as half finished tasks. - David Lloyd George </p> 
 </div>
 
<div class="row">
   <div class="col-md-4">
     <h2>Completed Tasks</h2>
     <p>List of Tasks completed</p>
   </div>
   <div class="col-md-4">
     <h2>Tasks for the Week</h2>
     <p>List of Tasks </p>
   </div>
</div>
