 <div class="jumbotron">
   There is nothing so fatal to character as half finished tasks. - David Lloyd George 
 </div>


  <a href="#" onclick="webAnalytics(@item.name)">Generate report</a>
      <%= link_to "New Item", new_user_item_path(@user, @item), class: 'btn btn-success' %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-6">Description</th>
              <th class="col-md-3">Days left</th>
              <th class="col-md-3">Complete</th>
            </tr>
          </thead>
          <tbody>
            <tr class='js-items'>
              <%= render @items  %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  


