<div class="row">
  <div class="col-md-12">
    <h1> About Teleioo </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p> Teleioo is a an application that helps you keep track of your weekly tasks.</p>
    <p> These tasks are self destructing which means if you don't complete them in a weeks time, they auto delete.</p>
    <p> Motivational quotes on the tasks page keep you motivated in completing your tasks. :)  </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1> Contact </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p> Thanks for visiting Teleioo! Please send in your feeback, I'd love to hear. Thank you! </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> Send Message </h3>
    
    <form action="https://getsimpleform.com/messages?form_api_token=3ede85d20dd6e0104931b96448e0a84b" method="post">
      <div class="form-group">
        <input class="form-control" type='text' name='name' placeholder='Your Full Name'>
      </div>
      <div class="form-group">
        <input class="form-control" type='email' name='email' placeholder='Your E-mail Address'>
      </div>
      <div class="form-group">
        <textarea class="form-control" name='message' placeholder='Write your message ...'></textarea>
      </div>
        <button type="submit" name="Send Message" class="btn btn-primary">Send Message</button>
        <!--<input type='submit' value='Send Message' />-->
    </form>
  </div>

</div>

