<br>
 <div class="jumbotron">
   <h1>Teleioo</h1>
   <p>to carry through completely, to accomplish, finish, bring to an end</p> 
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h2>Set Tasks</h2>
     <p>Set your weekly tasks</p>
   </div>
   <div class="col-md-4">
     <h2>Auto Delete</h2>
     <p>Tasks are auto deleted if not complete in a weeks time</p>
   </div>
   <div class="col-md-4">
     <h2>Tasks Time</h2>
     <p>Show you the days remaining to complete the task</p>
   </div>
 </div>
